<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-teacher-heading" data-cy="TeacherCreateUpdateHeading" jhiTranslate="myApp.teacher.home.createOrEditLabel">
        Create or edit a Teacher
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.teacher.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.teacher.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.teacher.phone" for="field_phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.teacher.specialization" for="field_specialization">Specialization</label>
          <input
            type="text"
            class="form-control"
            name="specialization"
            id="field_specialization"
            data-cy="specialization"
            formControlName="specialization"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.teacher.classRoom" for="field_classRoom">Class Room</label>
          <select class="form-control" id="field_classRoom" data-cy="classRoom" name="classRoom" formControlName="classRoom">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="classRoomOption.id === editForm.get('classRoom')!.value?.id ? editForm.get('classRoom')!.value : classRoomOption"
              *ngFor="let classRoomOption of classRoomsCollection; trackBy: trackClassRoomById"
            >
              {{ classRoomOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="myApp.teacher.courses" for="field_courses">Courses</label>
          <select class="form-control" id="field_courses" data-cy="courses" multiple name="courses" formControlName="courses">
            <option
              [ngValue]="getSelectedCourse(courseOption, editForm.get('courses')!.value)"
              *ngFor="let courseOption of coursesSharedCollection; trackBy: trackCourseById"
            >
              {{ courseOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
